:root {
  /* Тёмная тема*/
  --primary-bg-dark: #0a2008;
  --primary-text-dark: #b8ffaa;
  --primary-grad-dark: linear-gradient(
    rgba(10, 32, 8, 0.2),
    rgba(10, 32, 8, 0.9)
  );

  /* Светлая тема*/
  --primary-bg-light: #b8ffaa;
  --primary-text-light: #0a2008;
  --primary-grad-light: linear-gradient(
    rgba(110, 255, 97, 0),
    rgba(135, 255, 124, 0.603)
  );

  /* Дополнительные константы */
  --border-radius: 0.5rem;
  --transition-speed: 0.3s;
  --main-bg-image: url("../img/main_bg.webp");
  --services-bg-image: url("../img/services_bg.webp");
  --contacts-bg-image: url("../img/contacts_bg.webp");
  --about-bg-image: url("../img/about_bg.webp");
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer {
  margin-top: auto;
}

/* Кастомные стили для навбара */
.navbar {
  border-bottom: 1px solid #444;
}

/* Стили для основного контента */
.main-content {
  padding: 2rem 0;
}

.main-with-bg {
  background: var(--bg-gradient), var(--main-bg-image) center/cover no-repeat;
  color: var(--bs-body-color);
  position: relative;
}

.services-with-bg {
  background: var(--bg-gradient),
    var(--services-bg-image) center/cover no-repeat;
  color: var(--bs-body-color);
  position: relative;
}

.contacts-with-bg {
  background: var(--bg-gradient),
    var(--contacts-bg-image) center/cover no-repeat;
  color: var(--bs-body-color);
  position: relative;
}

.about-with-bg {
  background: var(--bg-gradient), var(--about-bg-image) center/cover no-repeat;
  color: var(--bs-body-color);
  position: relative;
}

/*Кастомные темы*/
[data-bs-theme="dark"] {
  --bs-body-bg: var(--primary-bg-dark);
  --bs-body-color: var(--primary-text-dark);
  --bg-gradient: var(--primary-grad-dark);
}

[data-bs-theme="light"] {
  --bs-body-bg: var(--primary-bg-light);
  --bs-body-color: var(--primary-text-light);
  --bg-gradient: var(--primary-grad-light);
}
