:root {
  /* Тёмная тема*/
  --primary-bg-dark: #212037;
  --primary-text-dark: #ffeddd;
  --primary-grad-dark: linear-gradient(rgba(10, 32, 8, 0), rgba(10, 32, 8, 0));
  --primary-bg-account-menu-dark: #212037;
  --primary-bg-account-tabs-dark: #21203774;

  /* Светлая тема*/
  --primary-bg-light: ##ffeddd;
  --primary-text-light: #212037;
  --primary-grad-light: linear-gradient(
    rgba(110, 255, 97, 0),
    rgba(135, 255, 124, 0)
  );
  --primary-bg-account-menu-light: #d6d7ff;
  --primary-bg-account-tabs-light: #d6d7ff6c;

  /* Дополнительные константы */
  --border-radius: 0.5rem;
  --transition-speed: 0.3s;
  --main-bg-image: url("../img/main_bg.webp");
  --services-bg-image: url("../img/services_bg.webp");
  --contacts-bg-image: url("../img/contacts_bg.webp");
  --about-bg-image: url("../img/about_bg.webp");
  --account-bg-image: url("../img/account_bg.webp");
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer {
  margin-top: auto;
}

/* Кастомные стили для навбара */
.navbar {
  border-bottom: 1px solid #444;
}

/* Стили для основного контента */
.main-content {
  padding: 2rem 0;
}

.main-with-bg {
  background: var(--bg-gradient), var(--main-bg-image) center/cover no-repeat;
  color: var(--bs-body-color);
  position: relative;
}

.services-with-bg {
  background: var(--bg-gradient),
    var(--services-bg-image) center/cover no-repeat;
  color: var(--bs-body-color);
  position: relative;
}

.contacts-with-bg {
  background: var(--bg-gradient),
    var(--contacts-bg-image) center/cover no-repeat;
  color: var(--bs-body-color);
  position: relative;
}

.about-with-bg {
  background: var(--bg-gradient), var(--about-bg-image) center/cover no-repeat;
  color: var(--bs-body-color);
  position: relative;
}

.account-with-bg {
  background: var(--bg-gradient), var(--account-bg-image) center/cover no-repeat;
  color: var(--bs-body-color);
  position: relative;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.nav-pills .nav-link.active {
  background-color: #0d6efd;
}
.tab-button {
  text-align: left;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.bg-account-menu {
  background-color: var(--bg-account-menu-color);
}

.bg-opacity-item {
  background-color: var(--bg-account-tabs-color);
}

/*Кастомные темы*/
[data-bs-theme="dark"] {
  --bs-body-bg: var(--primary-bg-dark);
  --bs-body-color: var(--primary-text-dark);
  --bg-gradient: var(--primary-grad-dark);
  --bg-account-menu-color: var(--primary-bg-account-menu-dark);
  --bg-account-tabs-color: var(--primary-bg-account-tabs-dark);
}

[data-bs-theme="light"] {
  --bs-body-bg: var(--primary-bg-light);
  --bs-body-color: var(--primary-text-light);
  --bg-gradient: var(--primary-grad-light);
  --bg-account-menu-color: var(--primary-bg-account-menu-light);
  --bg-account-tabs-color: var(--primary-bg-account-tabs-light);
}
